@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        @RenderBody()
    </div>
    <div class="col-md-3">
        <div style="margin-top: 35px;">
            <a href="@Url.Action("Index", "Home")" class="list-group-item">
                Home
            </a>
            <a href="@Url.Action("ExampleCheckBoxList")" class="list-group-item">
                Example - @Html.Encode("@Html.CheckBoxList()")
            </a>
            <a href="@Url.Action("ExampleCheckBoxListFor")" class="list-group-item">
                Example - @Html.Encode("@Html.CheckBoxListFor()")
            </a>
            <a href="@Url.Action("ExampleEnumCheckBoxList")" class="list-group-item">
                Example - @Html.Encode("@Html.EnumCheckBoxList()")
            </a>
            <a href="@Url.Action("ExampleEnumCheckBoxListFor")" class="list-group-item">
                Example - @Html.Encode("@Html.EnumCheckBoxListFor()")
            </a>
        </div>
    </div>
</div>